<?xml version="1.0" encoding="UTF-8"?>

  <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.yjh.test.mybatis.dao.RealestateDAO">
  
  	<select id="selectRealestate" resultType="com.yjh.test.mybatis.model.Realestate"
  	parameterType="int">
  		SELECT
  			`id`
  			, `realtorId`
  			, `address`
  			, `area`
  			, `type`
  			, `price`
  			, `rentPrice`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`real_estate`
  		WHERE
  			`id`= #{id}
  	</select>
  
  	<select id="selectRealEstateByRent" parameterType="int"
  	resultType="com.yjh.test.mybatis.model.Realestate">
		 SELECT
  			`id`
  			, `realtorId`
  			, `address`
  			, `area`
  			, `type`
  			, `price`
  			, `rentPrice`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`real_estate`
  		WHERE
  			<![CDATA[`rentPrice` < #{rentPrice}]]> 
  	</select>
  	
  	<select id="selectRealEstateByAreaPrice" 
  	resultType="com.yjh.test.mybatis.model.Realestate"
  	parameterType="map"> <!-- 파라미터타입이 여러개일 경우 map으로 잡아주면 알아서 처리 -->
   		SELECT
  			`id`
  			, `realtorId`
  			, `address`
  			, `area`
  			, `type`
  			, `price`
  			, `rentPrice`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`real_estate`
  		WHERE
  			<![CDATA[
			`area` >= #{area}
			AND `price` <= #{price}
			]]>
  	</select>
  </mapper>