<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.yjh.test.jstl.dao.weatherHistoryDAO">
  <select id="selectWeatherHistory" resultType="com.yjh.test.jstl.model.weatherHistory">
	SELECT
		`id`
		, `date`
		, `weather`
		, `temperatures`
		, `precipitation`
		, `microDust`
		, `windSpeed`
		, `createdAt`
		, `updatedAt`
	FROM
		`weatherhistory`
	WHERE
		`id`=#{id}
	</select>
</mapper>