@charset "UTF-8";

#wrap {
    width:1200px;
    height:1000px;
}

header {
    height:100px;
}


.main-menu {
    height:50px;
    background-color:peru;
}

.contents > .main-banner {
    height:450px;
}

.main-info > .reservation {
    height:300px;
    background-color:sienna;
}

.main-info > .confirm {
    height:300px;
    background-color:chocolate;
}

.main-info > .contact {
    height:300px;
    background-color:sienna;
}

footer {
    height:100px;

}