@charset "UTF-8";

#wrap {
	width:1200px;
}

.contents > .main-menu {
	width:250px;
	background-color:cornflowerblue;
}

.contents > .main-contents {
	width:950px;
}

footer > .logo {
	width:250px;
	height:100px;
}

footer > .copyright {
	width:950px;
	height:100px;
}